{% load static %}
{% load humanize %}

<div class="w-full h-screen overflow-y-auto custom-scrollbar flex justify-center">
  <div class="w-[95%] max-w-5xl">

    <!-- PROFILE -->
    <header class="relative mt-4 shadow rounded-md overflow-hidden bg-white">
      
      <!-- Cover -->
      <div class="max-h-80 bg-amber-50">
        {% if users.background %}
        <img class="object-cover w-full" src="{{ users.background.url }}" alt="">
        {% endif %}
      </div>


      <!-- Info -->
      <div class="relative bg-white z-10 p-6 flex justify-between items-start">
        <div class="flex gap-5">
          {% if users.avatar %}
          <img class="rounded-full size-20" src="{{ users.avatar.url }}" alt="">
          {% else %}
          <img class="rounded-full size-20" src="{% static 'image/user.png' %}" alt="">
          {% endif %}
          <div>
          <h1 class="text-3xl font-semibold">{{ users.username }}</h1>

          {% if users.is_superuser or user.is_staff %}
            <p class="text-xs opacity-60 mt-1">
              {% if users.is_superuser %}ADMIN{% else %}MODE{% endif %}
            </p>
          {% endif %}

          <time class="block mt-2 text-sm opacity-60">
            {{ users.date_joined|date:"d F Y, H:i" }}
          </time>
        </div>
        </div>

        <!-- Toggle edit -->
        <div class="">
          {% if user.is_superuser or user.id == users.id %}
          <label for="toggle-edit" class="cursor-pointer">
            <img class="w-6 h-6" src="{% static 'image/edit.png' %}" alt="Edit profile">
          </label>
          {% endif %}
          <input type="checkbox" id="toggle-edit" class="peer hidden">

          <div class="fixed z-20 top-0 inset-1/2 mt-2 w-80 bg-white shadow-xl rounded-lg p-4 
                      invisible opacity-0 transition 
                      peer-checked:visible peer-checked:opacity-100">
            {% if user.is_authenticated %}
            <form action="{% url 'account:updateuser' users.id %}"
                  method="post"
                  enctype="multipart/form-data"
                  class="space-y-3 form-update">
              {% csrf_token %}

              <div>
                <label class="block text-sm">Ảnh Nền</label>
                <input type="file" name="background"
                       accept="image/*"
                       class="w-full bg-gray-100 rounded-md p-2">
              </div>

              <div>
                <label class="block text-sm">Ảnh Đại Điện</label>
                <input type="file" name="avatar"
                       accept="image/*"
                       class="w-full bg-gray-100 rounded-md p-2">
              </div>

              <div>
                <label class="block text-sm">Tên</label>
                <input type="text"
                       name="username"
                       placeholder="{{ users.username }}"
                       class="w-full bg-gray-100 rounded-md p-2">
              </div>

              <p class="text-xs text-red-600">
               Lưu ý : Tên mới sẽ là tên đăng nhập !
              </p>

              <button type="submit"
                      data-url="{% url 'account:updateuser' users.id %}"
                      class="btn-submit w-full bg-green-500 text-white rounded-md py-2">
                Lưu
              </button>
            </form>
            {% endif %}

          </div>
        </div>
      </div>
    </header>

    <!-- BLOG LIST -->
    <main class="mt-6 space-y-6">
      {% if blogs %}
      {% for blog in blogs %}
      <div class="shadow rounded-lg overflow-hidden shrink-0">

        <div class="p-4">
          <!-- Author -->
          <div class="flex items-center gap-3">
            {% if blog.key_user.avatar %}
              <img class="w-9 h-9 rounded-full object-cover"
                   src="{{ blog.key_user.avatar.url }}"
                   alt="{{ blog.key_user.username }}">
            {% else %}
              <img class="w-9 h-9 rounded-full object-cover"
                   src="{% static 'image/user.png' %}"
                   alt="Default avatar">
            {% endif %}

            <div class="gap-0 grid">
              <p class="text-sm font-medium">{{ blog.key_user.username }}</p>
              <time class="text-[10px] opacity-50 ">
                {{ blog.verify_at|naturaltime }}
              </time>
            </div>
          </div>

          <a href="{% url 'blog:blog_detail' blog.uuid %}?from=profile" class="cursor-pointer w-[90%]">
            <!-- Title -->
            <h2 class="mt-3 text-xl font-bold opacity-80">
              {{ blog.title }}
            </h2>
  
            <!-- Image -->
            {% if blog.image %}
            <div class="relative w-full flex justify-center rounded-md overflow-hidden shrink-0">
              <div class="absolute inset-0 bg-cover bg-center blur-2xl scale-110"
                   style="background-image:url('{{ blog.image.url }}')"></div>
              <img class="relative z-10 w-auto max-h-[500px]"
                   src="{{ blog.image.url }}"
                   alt="{{ blog.title }}">
            </div>
            {% endif %}
          </a>

        </div>

        <!-- Actions -->
        <div class="flex items-center gap-4 px-4 pb-4 text-sm opacity-70">

          <!-- Like -->
          <form method="post"
                action="{% url 'blog:like_blog' blog.uuid %}"
                class="flex items-center gap-1">
            {% csrf_token %}
            <button data-url="{% url 'blog:like_blog' blog.uuid  %}"
             type="submit" class="btn-like hover:bg-gray-200 p-1 rounded-full">
              <img class="w-4 h-4 change-icon-blog"
                   src="{% static 'image/arrow-up.png' %}"
                   alt="Like">
            </button>
            <span class="btn-count">{{ blog.like.count }}</span>
          </form>

          <!-- Comment -->
          <div class="flex items-center gap-1">
            <img class="w-4 h-4"
                 src="{% static 'image/message.png' %}"
                 alt="Comments">
            <span>{{ blog.comments.count }}</span>
          </div>

        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="w-full h-full flex justify-center text-center opacity-70">Người dùng chưa đăng tải nội dung</p>
      {% endif %}

    </main>

  </div>
</div>
<script>
    function getCookie(name){
    let cookieValue = "";
    if(document.cookie && document.cookie !== ''){
      const cookies = document.cookie.split(';');
      for(let i=0; i< cookies.length; i++){
        const cookie = cookies[i].trim()
        if(cookie.substring(0,name.length + 1) === (name + '=')){
          cookieValue= decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie('csrftoken')

  const btnSubmit= document.querySelector('.btn-submit')
  const form =document.querySelector('.form-update')
  form.addEventListener('submit',(e)=>{
    e.preventDefault()
    const formData = new FormData(form);

    const username = formData.get("username")
    const avatar = formData.get("avatar")
    const background = formData.get("background")

    if(!username && !avatar && !background){
      return
    }

    fetch(btnSubmit.dataset.url,{
      method:"POST",
      headers:{
        'X-CSRFToken':csrftoken,
        'X-Requested-With':'XMLHttpRequest'
      },
      body:formData
    })
    .then(res =>res.json()).then(data =>{
      window.location.reload()
    })


    //
    const forms = document.querySelectorAll('.form')
    forms.forEach(form =>{
      form.addEventListener('submit',function(e){
      e.preventDefault()

      const btnLike = form.querySelector('.btn-like')
      const btnCount = form.querySelector('.btn-count')
      const iconLike = this.querySelector('.change-icon-blog')
      fetch(btnLike.dataset.url,{
        method:'POST',
        headers:{
          'X-CSRFToken': csrftoken,
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      .then(res =>res.json())
      .then(data =>{
                        if (data.liked) {
                    iconLike.src = "../../static/image/arrow-up-color.png"
                    iconLike.classList.remove('animate-icon-like')
                    void iconLike.offsetWidth   // force reflow
                    iconLike.classList.add('animate-icon-like')
                } else {
                    iconLike.src = "/static/image/arrow-up.png"
                }
        btnCount.innerText = data.count
      })
    })
  })

  })

</script>