{% load static %}
{% load humanize %}
<!-- Main Content -->
<div class="main relative w-full h-full flex flex-col items-center overflow-y-auto custom-scrollbar pl-2 pt-5 px-2">
    <a href="{% url 'homeapp:home' %}" class="absolute flex justify-center rounded-full left-3 top-6 ">
        <img src="{% static 'image/arrow_down.png' %}" class="size-8 opacity-50 rotate-90" alt="">
    </a>
    <!-- Thông Tin Chủ Bài Đăng -->
    <div class="flex w-[90%] h-15 items-center rounded-[5px] gap-x-3 shrink-0">
        <div class="flex w-auto items-center ">
            {% if blogD.key_user.avatar %}
            <img src="{{blogD.key_user.avatar.url}}" class="size-10 rounded-full object-cover" alt="">
            {% else %}
            <img src="{% static 'image/user.png' %}" class="size-10 rounded-full object-cover" alt="">
            {% endif %}
            <div class="pl-2">
                <div class="font-semibold text-sm">{{blogD.key_user.username}}</div>
                <div class="text-[10px] opacity-50">{{blogD.create_at|naturaltime}}</div>
        </div>
        </div>
        <!-- Chức Năng Xóa bài -->
        {% if blogD.key_user.id == user.id %}
            <div class="relative group ml-auto">
                <img src="{% static 'image/option.png' %}" class="size-5 cursor-pointer" alt="">
                <form action="" method="post" class="invisible group-hover:visible absolute bg-white shadow-md">
                    {% csrf_token %}
                    <button type="submit" class="text-red-500 text-xs size-10" >Xóa</button>
                </form>
            </div>
        {% endif %}
    </div>   
        <!-- Tiêu Đề -->
        <p class="w-[90%] opacity-70 py-3 text-xl font-bold text-left shrink-0">{{blogD.title}}</p>
        <!-- Ảnh -->
        <div class="relative w-[90%] flex justify-center rounded-[5px] overflow-hidden shrink-0">
          {% if blogD.image %}
          <div class="absolute inset-0 bg-center bg-cover blur-2xl scale-110"
            style="background-image: url('{{ blogD.image.url }}');"></div>
            <img
              class="relative z-10"
              src="{{ blogD.image.url }}"
              alt=""
            />
          {% endif %}
        </div>
        <!-- Nội Dung -->
        {% if blogD.content %}
            <p class="w-[90%] mt-2 mb-2 leading-relaxed font-light text-gray-800 ">{{blogD.content}}</p>
        {% endif %}
        <!-- Chức Năng like-Comment bài viết -->
         <div class="w-[90%] flex mt-2 mb-4 gap-2 shrink-0 ">
            <div class="flex w-15 justify-center items-center rounded-xl shadow">
                <form action="{% url 'blog:like_blog' blogD.uuid %}" method="post"
                    class="like-blog w-full h-full flex">
                    {% csrf_token %}
                    <button type="submit" data-url="{% url 'blog:like_blog' blogD.uuid %}"
                        class="btn-like rounded-full hover:bg-gray-200  size-8 justify-items-center">
                        <img src="
                        {% if is_liked %}
                            {% static 'image/arrow-up-color.png' %}
                        {% else %}
                            {% static 'image/arrow-up.png' %}
                        {% endif %}" class="size-4 change-icon-blog" alt="">
                    </button>
                    <span class="btn-count flex items-center pl-1 opacity-70">{{blogD.like.count}}</span>
                </form>
            </div>
            <div class="flex justify-center items-center rounded-full w-15 py-1 gap-2 shadow">
                <img class="size-4" src="{% static 'image/message.png' %}" alt="comment">
                <span class="opacity-70 comment-count">{{blogD.comments.count}}</span>
            </div>
         </div>
        <!-- Comment -->
         <div class="main-comment relative w-[90%] items-center p-2 mt-2 mb-6 border border-gray-200 rounded-xl shrink-0">
            <img class="preview-image size-20 hidden object-cover rounded-[5px]" src="" alt="">
            <form action="{% url 'blog:comment_blog' blogD.uuid %}" method="POST" 
            class="form-comment flex items-center gap-2">
                {% csrf_token %}
                <label class="cursor-pointer mb-1">
                    <img src="{% static 'image/add1.png' %}" alt="">
                    <input type="file" name="image" class="image-input hidden">
                </label>
                <textarea maxlength="200" name="content" class="content flex-1 outline-none resize-none text-sm text-black py-1 max-h-40"
                    rows="1"
                    placeholder="Viết Bình Luận ... "
                    oninput='this.style.height ="";this.style.height = this.scrollHeight + "px"'></textarea>
                <button class="  bg-green-400 px-4 py-1 rounded-lg text-sm font-medium mb-1" type="submit">Gửi</button>
            </form>
         </div>
        <!-- Views Comment -->
         <div class="views-comment w-[90%]"></div>
        {% for i in blogD.root_comments %}
            {% include "Blogs/comment.html" with comment=i depth=20 level=1 %}
        {% endfor %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function(){

    function getCookie(name){
        let cookievalue = null;
        if (document.cookie && document.cookie !== ''){
            const cookies = document.cookie.split(';');
            for(let cookie of cookies){
                cookie = cookie.trim();
                if(cookie.startsWith(name+'=')){
                    cookievalue = decodeURIComponent(cookie.substring(name.length +1));
                }
            }
        }
        return cookievalue
    }

    const csrftoken = getCookie('csrftoken')

    /* Auto resize textarea */
    document.querySelectorAll("textarea").forEach(tx=>{
        tx.style.height = tx.scrollHeight + "px";
        tx.style.overflowY = "hidden";
        tx.addEventListener("input",function(){
            this.style.height = "auto";
            this.style.height = this.scrollHeight + "px";
        })
    })

    /* Like blog */
    const likeBlogForm = document.querySelector('.like-blog')
    if(likeBlogForm){
        likeBlogForm.addEventListener('submit',function(e){
            e.preventDefault()
            const btnLike = this.querySelector('.btn-like')
            const btnCount = this.querySelector('.btn-count')
            const iconLike = this.querySelector('.change-icon-blog')

            fetch(btnLike.dataset.url,{
                method:"POST",
                headers:{
                    'X-CSRFToken':csrftoken,
                    'X-Requested-With':'XMLHttpRequest'
                }
            })
            .then(res=>res.json())
            .then(data=>{
                if (data.liked) {
                    iconLike.src = "../../static/image/arrow-up-color.png"
                    iconLike.classList.remove('animate-icon-like')
                    void iconLike.offsetWidth   // force reflow
                    iconLike.classList.add('animate-icon-like')
                }else
                {iconLike.src = "../../static/image/arrow-up.png"}
                btnCount.innerText = data.count
            })
        })
    }

    document.querySelectorAll('.like-comment').forEach(item=>{
        item.addEventListener('click',function(e){
            e.preventDefault()
            const btnLike = this.querySelector('.btn-like')
            const btnCount = this.querySelector('.btn-count')
            const iconLike = this.querySelector('.change-icon-blog')

            fetch(btnLike.dataset.url,{
                method:"POST",
                headers:{
                    'X-CSRFToken':csrftoken,
                    'X-Requested-With':'XMLHttpRequest'
                }
            })
            .then(res => res.json()).then(data=>{
                btnCount.innerText = data.count
                if(data.liked){
                    iconLike.src = "../../static/image/arrow-up-color.png"
                }
                else{
                    iconLike.src = "../../static/image/arrow-up.png"
                }
            })
        })
    })

    document.querySelectorAll('.image-input').forEach(item=>{
        item.addEventListener('change',(e)=>{
            const file = e.target.files[0];
            document.querySelectorAll('.main-comment .reply-form').forEach(sp=>{
                const preview_image = sp.querySelector('.preview-image')

                if(file){
                    preview_image.src = URL.createObjectURL(file)
                    preview_image.classList.remove('hidden')
                }
            })
        })
    })

        document.querySelectorAll('.reply-image-input').forEach(item=>{
        item.addEventListener('change',(e)=>{
            const file = e.target.files[0];
            document.querySelectorAll('.reply-form').forEach(sp=>{
                const preview_image = sp.querySelector('.reply-preview-image')

                if(file){
                    preview_image.src = URL.createObjectURL(file)
                    preview_image.classList.remove('hidden')
                }
            })
        })
    })

    /* Show reply form */
    document.querySelectorAll('.comment-level').forEach(wrapper=>{
        const replyBtn = wrapper.querySelector('.reply-btn')
        const formShow = wrapper.querySelector('.reply-form')
        const textarea = wrapper.querySelector('textarea')

        if(replyBtn){
            replyBtn.addEventListener('click',(e)=>{
                const current= e.currentTarget
                
                document.querySelectorAll('.reply-form').forEach(form=>{
                    form.classList.add('hidden')
                })
                formShow.classList.remove("hidden")
                textarea.value = `@${replyBtn.dataset.username} ` + " "
                textarea.focus()
                textarea.style.height = "auto"
                textarea.style.height = textarea.scrollHeight + "px"
            })
        }
    })

    /* New parent comment */
    const views = document.querySelector('.views-comment')
    const currentOject = null
    document.querySelectorAll('.form-comment').forEach(form=>{
        form.addEventListener('submit',function(e){
            e.preventDefault()

            const preview_image = document.querySelector('.preview-image')

            const formData = new FormData(this)
            const content = formData.get('content')
            const image = formData.get('image')

            if(!content.trim() && (!image || image.size === 0)){
                return
            }

            fetch(this.action,{
                method:"POST",
                headers:{
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With':'XMLHttpRequest'
                },
                body:formData
            })
            .then(res=>res.json())
            .then(data=>{
                if(views){
                    const newCommentHtml = `
                        <div class="relative flex h-15 w-full pl-2 bg-gray-50 gap-x-3 items-center rounded-t-[5px]">
                            <img class="size-10 rounded-full object-cover" src="${data.avatar_user}" alt="avatar" />
                            <div class="flex flex-col">
                                <div class="font-semibold text-sm">${data.username}</div>
                                <div class="text-[10px] opacity-50">now</div>
                            </div>
                        </div>
                        <div class="ml-7 border-l  border-black/20 w-full">
                            <p class="pb-1 pt-1 pl-5 rounded-b-[5px]pl-2">${data.content}</p>
                                <img src="${data.image_url}" class="w-[70%] h-auto rounded-[5px]" alt="">
                    `
                    views.insertAdjacentHTML('beforeend',newCommentHtml)
                }
                this.reset()
                if (currentOject){
                    URL.revokeObjectURL(currentOject)
                    currentOject == null
                }
                preview_image.src =""
                preview_image.classList.add("hidden")
            })
        })
    })

    /* Reply comment */
    document.addEventListener("submit", function (e) {

        if (!e.target.classList.contains("form-reply")) return

        e.preventDefault()

        const form = e.target
        const wrapper = form.closest(".comment-level")
        const repliesContainer = wrapper.querySelector(".replies-container")
        const replyBtn = wrapper.querySelector('.reply-btn')

        const formData = new FormData(form)
        const content = formData.get("content")
        const image = formData.get("image")

        if ((!content || !content.trim()) && (!image || image.size === 0)) return

        fetch(form.action, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrftoken,
                "X-Requested-With": "XMLHttpRequest"
            },
            body: formData
        })
        .then(res => {
             if (!res.ok) throw new Error("Network error")
            return res.json()
        })
        .then(data => {

                    const newCommentHtml = `
                        <div class="relative flex h-15 w-full pl-2 bg-gray-50 gap-x-3 items-center rounded-t-[5px]">
                            <img class="size-10 rounded-full object-cover" src="${data.avatar_user}" alt="avatar" />
                            <div class="flex flex-col">
                                <div class="font-semibold text-sm">${data.username}</div>
                                <div class="text-[10px] opacity-50">now</div>
                            </div>
                        </div>
                        <div class="ml-7 border-l  border-black/20 w-full">
                            <p class="pb-1 pt-1 pl-5 rounded-b-[5px]pl-2">${data.content}</p>
                                <img src="${data.image_url}" class="w-[70%] h-auto rounded-[5px]" alt="">
                    `

            repliesContainer.insertAdjacentHTML("beforeend",newCommentHtml)

            form.reset()
            wrapper.querySelector(".reply-form").classList.add("hidden")
        })
        .catch(err => console.error(err))
    })
    /* Box delete */
    document.addEventListener('click', (e) => {
        const btn = e.target.closest('.btn-option');
        const allOptions = document.querySelectorAll('.showOption');

        if (btn) {
            const currentShow = btn.closest('.option').querySelector('.showOption');
            const isAlreadyVisible = !currentShow.classList.contains('hidden');

            allOptions.forEach(opt => opt.classList.add('hidden'));

            if (!isAlreadyVisible) {
                currentShow.classList.remove('hidden');
            }
        } else {
            allOptions.forEach(opt => opt.classList.add('hidden'));
        }
    });

    document.querySelectorAll('.option').forEach(item=>{
        const btnDelete = item.querySelector('.btn-Delete')
        item.querySelector('.form-delete').addEventListener('submit',function(e){
            e.preventDefault()
            fetch(btnDelete.dataset.url,{
                method:"POST",
                headers:{
                    'X-CSRFToken':csrftoken,
                    'X-Requested-With':"XMLHttpRequest"
                }
            })
            .then(res =>res.json()).then(data=>{
                if(data.status == 'success'){
                    const commentElement = document.getElementById(btnDelete.dataset.id);
                    commentElement.classList.add('opacity-0','transition-opacity', 'duration-300')
                    setTimeout(() => {
                        commentElement.remove()
                    }, 300);
                }
            })
        })
    })
})
</script>