{% load static %}
{% load humanize %}
<div
  class="w-full h-full justify-items-center overflow-y-auto pt-2 custom-scrollbar"
>
  {% for blog in blogs %}
  <div class="block w-[90%] p-1 mt-2">
    <div class="bg-gray-50 p-2 rounded-xl">
      <div class="relative w-full h-12 flex gap-x-2 items-center">
        {% if blog.key_user.avatar %}
        <img
          class="size-9 rounded-full"
          src="{{blog.key_user.avatar.url}}"
          alt=""
        />
        {% else %}
        <img
          class="size-9 rounded-full"
          src="{% static 'image/user.png' %}"
          alt=""
        />
        {% endif %}
        <div class="gap-0">
          {% load humanize%}
          <div class="">{{blog.key_user.username}}</div>
          <div class="text-[10px] opacity-50">
            {{blog.create_at| naturaltime}}
          </div>
        </div>
      </div>
      <h3 class="w-full h-15 content-center text-2xl font-bold opacity-70">
        {{ blog.title }}
      </h3>
      <p class=" pb-2">{{blog.content }}</p>
      <div class="relative w-full flex justify-center rounded-[5px] overflow-hidden">
        {% if blog.image %}
        <div class="absolute inset-0 bg-center bg-cover blur-2xl scale-110"
          style="background-image: url('{{ blog.image.url }}');"></div>
          <img
            class="relative z-10"
            src="{{ blog.image.url }}"
            alt=""
          />
        {% endif %}
      </div>
    </div>
  </div>
  <div class="w-[90%] h-12 p-2 flex gap-5">
    <form action="{% url 'blog:approve_blog' blog.uuid %}">
        <button type="submit" class="h-full w-25 p-1 rounded-[5px] hover:bg-green-500 shadow">Phê Duyệt</button>
    </form>
    <form action="{% url 'blog:delete_blog' blog.uuid %}"><button class="h-full w-20 p-1 rounded-[5px]  hover:bg-red-500 shadow">Hủy Bỏ</button></form>
  </div>
  <hr class="w-[90%] opacity-30 mt-2" />
  {% endfor %}
</div>
