{% load static %}
<!--Nabar Destop-->
<div class="parent relative w-full h-full justify-items-center bg-gray-50 shadow max-xl:hidden">
    <!--Header-->
    <div class="w-full h-[9%] content-center shadow pl-5 font-bold text-2xl">WEB CHAT</div>
    <!--Điều Hướng-->
    <div class="w-[90%] mt-2 justify-items-center text-sm">
        {% with request.resolver_match.url_name as current %}
            <a class="home flex w-full gap-3 h-10 p-1 rounded-xl items-center hover:bg-gray-200 pl-5 {% if current == 'home' %}bg-gray-100 shadow{% endif %}"
             href="{% url 'homeapp:home' %}">
                <img class="size-5" src="{% static 'image/homeicon.png' %}" alt=""><span>Nhà</span>
            </a>
            <a class="flex group w-full gap-3 h-10 hover:bg-gray-100 p-1 rounded-xl items-center pl-5 duration-1000 {% if current == 'room' %}bg-gray-100 shadow{% endif %}"
             href="{% url 'chat:room' 'community' %}">
                <div class="size-5"><img class="size-4" src="{% static 'image/mess.png' %}" alt=""></div>
                <div class="w-full flex justify-between items-center">
                    <span>Trò Chuyện</span>
                    <img class="size-5 group-hover:rotate-90 duration-500 {% if current == 'chat_page' %} rotate-90{% endif %} " src="{% static 'image/arrow.png' %}" alt="">
                </div>      
            </a>
            <div class="flex w-full mt-4">
                <span class="text-sm opacity-70 pl-5 font-medium">Đăng tải</span>
            </div>
            <div class="w-[90%] justify-items-center">
                <a class="flex w-full h-10 items-center gap-3 p-1 pl-2 hover:bg-gray-100 rounded-xl"
                href="{% url 'blog:create_blog' %}">
                    <img class="size-4" src="{% static 'image/more.png' %}" alt="">
                    <span>Tạo Bài Viết</span>
                </a>
            </div>
            {% if user.is_superuser or user.is_staff %}
            <div class="flex w-full mt-4">
                <span class="text-sm opacity-70 pl-5 font-medium">Quản trị</span>
            </div>
            <a href="{% url 'blog:censor_blog' %}"
             class="flex w-full hover:bg-gray-100 gap-3 h-10 p-1 rounded-xl items-center pl-5 {% if current == 'censor_blog' %}bg-gray-100 shadow{% endif %}">
                <img class="size-4.5" src="{% static 'image/security.png' %}" alt="">
                <div class="w-full flex justify-between">Kiểm Duyệt <span class="pr-1.5">{{not_verify}}</span></div>
            </a>
            <a href="{% url 'homeapp:reports' %}"
             class="flex w-full hover:bg-gray-100 gap-3 h-10 p-1 rounded-xl items-center pl-4.5 {% if current == 'reports' %}bg-gray-100 shadow{% endif %}">
                <img class="size-6" src="{% static 'image/report.png' %}" alt="">
                <div class="w-full flex justify-between">Báo cáo  <span class="pr-1.5">{{report_count}}</span></div>
            </a>
            {% endif %}
        {% endwith %}
    </div>
    <!--User-->
    <div class=" absolute bottom-0 w-full flex p-1 justify-between items-center">
        {% if user.is_authenticated %}
        <div class="w-full h-13 items-center p-2 flex rounded-[5px] shadow">
            <div class="w-full content-center flex gap-x-2">
                <div class="relative w-10 h-10">
                    {% if user.avatar %}
                    <img class="size-full rounded-full" src="{{user.avatar.url}}" alt="">
                    {% endif %}
                    <div class="absolute bottom-0 right-0 justify-items-center content-center size-4 rounded-full bg-white">
                        <div id="icon-status"></div>
                    </div>
                </div>
                <div class="grid gap-y-0">
                    <span class="w-full block p-0 m-0 font-bold ">{{user.username}}</span>
                    <span id="status" class="w-full text-[12px] font-bold text-black/70 " ></span>
                </div>
            </div>
            <div  class="btn size-10 content-center justify-items-center hover:bg-gray-300 rounded-[5px]">
                <img class="size-6 hover:rotate-45 duration-500" src="{% static 'image/setting.svg' %}" alt="">
            </div>
        </div>
        {% else %}
        <div class="w-full h-13 shadow p-2 justify-items-center">
            <a href="{% url 'account:register' %}" class="flex h-full w-1/2 bg-green-500 rounded-[5px] items-center justify-center gap-2 ">
                <span class="text-xl font-bold">LOGIN</span>
                <img class="size-6" src="{% static 'image/enter.png' %}" alt="">
            </a>
        </div>
        {% endif %}
    </div>
    <div class="child hidden absolute w-[50%] h-20 content-center bottom-14 z-20 right-1 p-2 bg-gray-100 rounded-t-[5px]">
        {% if user.is_authenticated %}
        <a class="w-full block h-[50%] hover:bg-gray-200 rounded-[5px] pl-2 content-center text-center" href="{% url 'account:profile' user.id %}">Hồ Sơ</a>
        {% endif %}
        <form action="{% url 'account:logout' %}" method="post" enctype="multipart/form-data "
            class="w-full hover:bg-gray-200 rounded-[5px] h-[50%] content-center">
            {% csrf_token %}
            <button type="submit" class=" pl-2 w-full" >Đăng xuất</button>
        </form>
    </div>
</div>
<!--Mobile-->
<div class="relative w-full h-full justify-items-center bg-gray-50 xl:hidden shadow">
    <!--Header-->
    <div class="w-full h-15 content-center font-bold text-2xl"></div>
    <!--Điều Hướng-->
    <div class="w-[90%] mt-2 justify-items-center">
        {% with request.resolver_match.url_name as current %}
        <a class="flex w-10 h-10 hover:bg-gray-200 p-1 rounded-xl justify-center items-center  {% if current == 'home' %}bg-white shadow{% endif %}"
        href="{% url 'homeapp:home' %}">
            <img class="size-5 block" src="{% static 'image/homeicon.png' %}" alt="">
        </a>
        <a class="flex w-10 h-10 hover:bg-gray-200 p-1 rounded-xl justify-center items-center {% if current == 'room' %}bg-white shadow{% endif %} "
         href="{% url 'chat:room' 'community' %}">
            <img class="size-4" src="{% static 'image/mess.png' %}" alt="">
        </a>
        <a class="flex w-10 h-10 hover:bg-gray-200 p-1 rounded-xl justify-center items-center {% if current == '' %}bg-gray-100 shadow{% endif %} "
         href="{% url 'chat:room' 'community' %}">
            <img class="size-5" src="{% static 'image/bell.png' %}" alt="">
        </a>
        {% if user.is_superuser or user.is_staff %}
            <a href="{% url 'blog:censor_blog' %}"
             class="flex w-10 h-10 hover:bg-gray-100 gap-3 p-1 rounded-xl justify-center items-center {% if current == 'censor_blog' %}bg-gray-100 shadow{% endif %}">
                <img class="size-5" src="{% static 'image/approve.png' %}" alt="">
            </a>
        {% endif %}
        {% endwith %}
    </div>
    <!--User-->
    <div class="absolute bottom-0 w-full flex p-1 justify-between items-center">
        <div class="w-full h-13 items-center flex justify-center">
            {%if user.avatar %}
                <img class="size-9 rounded-full" src="{{user.avatar.url}}" alt="">
            {% endif %}

        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        /* */
        const parent = document.querySelector('.parent');
        const btn = parent.querySelector('.btn');
        const child = parent.querySelector('.child'); 

        btn.addEventListener('click', (e) => {
            e.stopPropagation(); 
            child.classList.toggle("hidden");
        });

        document.addEventListener('click', () => {
            child.classList.add("hidden");
        });

        /**/
        const reload = document.querySelector('.home')
        reload.addEventListener('click',()=>{
            sessionStorage.setItem("home_scroll",0)
            window.location.reload()
        })
    });

    // Websocket - Presence

    const socket_presence = new WebSocket("ws://127.0.0.1:8000/ws/presence/");

    socket_presence.onmessage = (e)=>{
        const data = JSON.parse(e.data);

        if (data.type == 'ping'){
            socket_presence.send(JSON.stringify({
                'type':'pong'
            }))
        }
        if (data.status === true){
            document.getElementById(`status`).innerHTML = "Trực tuyến";
            document.getElementById(`icon-status`).classList.add("bg-green-600","rounded-full","size-2.5");
        }
        else{
            document.getElementById(`status`).innerHTML = "Ngoại tuyến";
            document.getElementById(`icon-status`).classList.add("bg-gray-500","rounded-full","size-2.5");
        }
    }

</script>