@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@layer utilities {
  /* Targets the entire scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px; /* Adjust width as needed */
  }

  /* Targets the scrollbar track (background) */
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-white rounded-full; /* Use Tailwind utilities here */
  }

  /* Targets the scrollbar thumb (draggable handle) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full; /* Use Tailwind utilities here */
  }

  /* Optional: Hover state for the thumb */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-white;
  }
}

@theme {
  --animate-icon-like: animate-icon-like 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  @keyframes animate-icon-like {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-10px) scale(1.5);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
}
